@import "tailwindcss";

Body{
    background-color: rgba(58, 1, 58, 0.486);
    
}

/* App.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a78bfa; /* violet-400 */
    border-radius: 8px;
  }
  
.custom-scrollbar::-webkit-scrollbar-track {
    background: #ddd6fe; /* violet-200 */
    border-radius: 8px;
  }
  